* {box-sizing: border-box;}
 
body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    text-transform: uppercase;
    font-weight: bold;
}
.topnav {
  overflow: hidden;
  background-color: #2f3a4a;
  line-height: 40px;
}
 
.topnav a {
  float: left;
  display: block;
  width:auto;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  color:#fff;
}
.form-register {
  text-align: center;
  width: 80%;
  background: #2196F3;
  padding: 15px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 4px;
  font-family: 'calibri';
  color: #fff;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.form-register h5 {
  font-size: 16px;
  margin-bottom: 10px;
}

.form-register span {
  display: inline-block;
  width: auto;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 20px;
  margin-right: 20px;
}
 
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
 
.topnav a.active {
  background-color: #2196F3;
  color: white;
}
.topnav a.logout {
  background-color: #91393e;
  color: white;
}
 
.topnav .welcome {
  float: right;
  display: block;
  width:auto;
  text-align: center;
  padding: 4px 20px;
  text-decoration: none;
  font-size: 8px;
  color:#fff;
}